body{
    background-color: coral !important;
}
p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}
@media (max-width: 600px) {
    body {
      background-color: lightblue !important;
    }
  }
